'use strict';

var settings = {
  database: {
    host: 'localhost',
    database: 'capto',
    user: 'capto',
    password: 'capto',
    protocol: 'mysql',
    port: '3306',
    query: { pool: true }
  },
  smtp: {
    port: 9025,
    ip: '127.0.0.1',
    // defaults to 25mb
    maxMessageSize: 25000000
  },
  http: {
    port: 9024,
    ip: '127.0.0.1'
  }
};

module.exports = settings;
