doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Capto
    link(rel='stylesheet', type='text/css', href='/stylesheets/404.css')
  body
    .container
      .box
        h1 #{code}
        h2 #{message}
